SECRET_KEY=smart_inventory_secret_key_123
DATABASE_PATH=inventory.db
PORT=5000
ADMIN_EMAIL=admin@smartinventory.local
MAIL_DEFAULT_SENDER=noreply@smartinventory.local
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=true
